{{! app/templates/application.hbs }}

{{nav-bar}}
<div id="modalDestination"></div>
{{outlet 'main'}}
{{ember-cli-spinner id="horusWaiting" type="wave" height="40px" width="45px" bgColor="transparent" color="dark-blue"}}